@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Quicksand&display=swap');

/*Override default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Site name styles*/
h1 {
    color: #540b0e;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

/*Styles for tagline on landing page*/
#tagline {
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-size: 1.5rem; 
    color: black;
    display: block;
}

/*Bookshop name styles*/
h2 {
    color: #9e2a2b;
}

/*Main body styles*/
body {
    background-color: #fff3b0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 1% 1.5%;
}

/*Styling for main element*/
main {
    flex: 1 0 auto;
    margin-top: 85px;
}

/*Styling for the navigation bar*/
nav {
    padding: 8px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
}

/*Styling for each paragraph about bookshops*/
.readers {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

/*Styles for header and footer*/
header, footer {
    background-color: #fcc168;
    width: 100%;
    
}

/*More styles for header*/
header {
    position: fixed;
    display: flex;
    padding: 0;
    box-sizing: border-box;
}

/*More styles for footer*/
footer {
    width: 100%;
    height: auto;
}

/*Styles for footer list items*/
footer li {
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h3 {
    color: #540b0e;
    }

.signing-up {
    background-image: url(/assets/images/aaron-burden-4eWwSxaDhe4-unsplash.jpg);

}

/*Styles for tablet screens and larger*/
@media screen and (min-width: 768px) {
    body {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 95vw;
        align-self: center;
        margin-left: 5px;
    }

    footer {
        width: 95vw;
    }

    .signing-up {
        width: 95vw;
    }
}

/*Styles for laptop screens and larger*/
@media screen and (min-width: 992px) {
    body {
        margin-top: 0;
        margin-bottom: 0;
        width: 98vw;
        align-self: center;
        margin-left: 1%;
    }

    footer {
        width: 98vw;
        align-self: center;
        padding: 3px 3px;
    }

    .signing-up {
        width: 95vw;
    }
}