@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Quicksand&display=swap');

h1 {
    color: blue;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#readers {
    color: black;
    font-family: 'Quicksand', sans-serif;
}